<div class="main_form">
  <h3>Choose opponent: </h3>
  <%= form_for @ttt do |f| %>
  <%= hidden_field_tag 'ttt[player_x_id]', current_user.id  %>
  <%= f.collection_select :player_o_id, User.all, :id, :name %>
  <%= f.submit %>
  <% end %>
</div>
